/*

root

reset

helpers

header

main {
    section,
    post__search,
    article,
    bottom-article,
    create-post,
    selected-post,
    comment,
    add-comment,
    edit-post,
    authorization,
    recommendation,
    profile
}

media width

*/




/* root */

:root {
    --error-color: rgb(200, 10, 10);
    --successful--color: rgb(10, 200, 10);
}




/* reset */

*, * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
}

input,
button,
textarea,
select,
textarea {
  outline: none;
}

textarea {
    resize: none;
}

/* удаление иконки очистки поля в IE */
input[type="text"]::-ms-clear {
  display: none;
}
 
/* удаление иконки отображения пароля в IE */
input[type="password"]::-ms-reveal {
  display: none;
}




/* helpers */

html, 
body {
    font-size: 16px;
    font-family: "Arial";
}

button,
input,
select,
textarea,
.imgButton {
    padding: 0.25rem 0.5rem;

    background-color: rgba(0, 0, 0, 0);

    border: 0.125rem solid rgb(0, 0, 0);
    border-radius: 0.25rem;

    -webkit-transition: 300ms;

    -o-transition: 300ms;

    transition: 300ms;
}

button:hover,
input:hover,
select:hover,
textarea:hover,
.imgButton:hover {
    background-color: rgba(200, 200, 200, 0.25);
}

button:active,
input:focus,
select:active,
textarea:focus,
.imgButton:active {
    -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(34, 60, 80, 0.2);
}

.shadow {
    -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(34, 60, 80, 0.2);
}

img {
    width: 100%;
}

.inputFile {
    display: none;
}

.container {
    padding: 0 10%;
}

.error-message {
    color: var(--error-color);
}

.error {
    text-align: center;
}

.error__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--error-color);
    font-weight: 700;
}

.successful-message {
    color: var(--successful--color);
}

/* padding and shadow*/
.styleBlock {
    border-radius: 0.25rem;

    padding: 1rem;

    width: 100%;

    -webkit-box-shadow: 0 0.125rem 0.5rem 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0.125rem 0.5rem 0 rgba(34, 60, 80, 0.2);
}

.imgButton {
    margin-bottom: 0.25rem;

    cursor: pointer;
}




/* header */
header {
    -webkit-box-shadow: 0 0.125rem 0.5rem 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0.125rem 0.5rem 0 rgba(34, 60, 80, 0.2);

    margin-bottom: 2rem;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__container h1 {
    padding: 0.5rem 0;
}

.header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__navigation_item {
    padding: 0.1rem;
    margin-left: 0.75rem;

    cursor: pointer;
}

.header__navigation_item:nth-child(1) {
    margin-left: 0;
}

.header__burger-button {
    display: none;
    padding: 1rem 0 1rem 1rem;
}



/* main */

.main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
}

.post__search {
    margin-bottom: 1.5rem;
}

.post__search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.post__search form * {
    margin-left: 0.5rem;
}

.post__search form *:nth-child(1) {
    margin-left: 0;
}

.post__search form input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.article-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    word-break: break-word;
}


.article-container article:nth-child(2n+2) {
    margin-right: 0;
}

.article__img {
    max-height: 25rem;
}

.article__link {
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bottom-article__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bottom-article__navigation_item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    text-align: center;
}

.create-post h2 {
    margin-bottom: 0.75rem;
}

.create-post__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.create-post__input * {
    margin-bottom: 0.25rem;
}

.create-post__textarea {
    min-height: 20rem;
}

.selected-post {
    word-break: break-word;
}

.selected-post > * {
    margin-bottom: 0.5rem;
}

.selected-post > *:nth-child(1) {
    margin-bottom: 0.1rem;
}

.selected-post__short-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.selected-post__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.selected-post__title > p {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
}

.selected-post__form-edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 0.75rem;
}

.selected-post__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.selected-post__form-edit > button:nth-last-child(1) {
    margin-left: 0.25rem;
}

.selected-post__author_img {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.selected-post__author_name {
    margin-left: 0.15rem;
}

.selected-post__date {
    font-size: 0.7rem;
    text-align: right;
}

.selected-post__view {
    font-size: 0.7rem;
    color: rgb(90, 90, 90);
    text-align: right;
}

.selected-post__img-post {
    max-height: 45rem;
}

.selected-post__comment > *:nth-last-child(1) {
    margin-bottom: 0;
}

.comment {
    max-height: 13.75rem;
    overflow-y: auto;
    margin-bottom: 0.5rem;
}

.comment > * {
    margin-bottom: 0.3rem;
}

.comment__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border: 1px solid rgb(100, 100, 100);
    border-radius: 0.125rem;

    padding: 0.5rem;
}

.comment__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.comment__img {
    max-width: 3rem;
    max-height: 3rem;

    margin-bottom: 0;
}

.comment__content {
    margin-left: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}

.add-comment__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.add-comment__input {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-right: 0.25rem;
}

.edit-post > * {
    margin-bottom: 0.5rem;
}

.edit-post > *:nth-last-child(1) {
    margin-bottom: 0;
}

.edit-post__text-textarea {
    width: 100%;
    height: 20rem;
}

.authorization__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.authorization__form {
    max-width: 20rem;

    margin: 0 auto;
}

.authorization__form > *{
    margin-bottom: 0.75rem;    
}

.authorization__form > *:nth-last-child(1) {
    margin-bottom: 0rem;
}

.authorization__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.authorization__buttons > button {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}

.authorization__buttons > button:nth-child(1) {
    margin-right: 0.5rem;
}

.recommendation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;

    margin-left: 1rem;
}

.recommendation h4 {
    font-size: 1.25rem;

    padding-bottom: 0.5rem;

    border-bottom: 1px solid black;
}

.recommendation__article {
    margin-top: 0.5rem;
    word-break: break-word;
}

.recommendation__article_item {
    padding-bottom: 0.25rem;

    cursor: pointer;
}

.recommendation__article_item:nth-last-child(1) {
    padding-bottom: 0;
}

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile__avatar {
    max-width: 20rem;
    max-height: 20rem;
}

.profile__info {
    flex: auto;

    margin-left: 2rem;
}

.profile__info > * {
    margin-bottom: 1rem;
}

.profile__info > *:nth-last-child(1) {
    margin-bottom: 0;
}

.profile__name {
    display: flex;
    justify-content: space-between;
}

.profile__online {
    font-size: 0.75rem;
    color: rgb(90, 90, 90);
}

.profile__short-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.profile__short-info_item {
    text-align: center;
}

/* .profile__interaction {

} */

.profile__interaction_button:nth-last-child(1) {
    margin-left: 0.25rem;
}

.edit-profile {
    display: flex;
    width: 100%;
}

.edit-profile__data > * {
    margin-bottom: 0.75rem;
}

.edit-profile__data > *:nth-last-child(1) {
    margin-bottom: 0;
}




/* media */

@media (min-width: 2160px) {
    .article__img {
        max-height: 35rem;
    }
}



@media (max-width: 1366px) {
    .article__img {
        max-height: 17rem;
    }

    .selected-post__title > p {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 70%;
                flex: 0 1 70%;
    }

    .profile__avatar {
        max-width: 15rem;
        max-height: 15rem;
    }
}




@media (max-width: 768px) {
    section {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
    }

    .article-container article {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;

        margin-right: 0;
    }

    .selected-post__title > p {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 65%;
                flex: 0 1 65%;
    }

    .article__img {
        max-height: 13rem;
    }

    .recommendation {
        display: none;
    }

    .profile__avatar {
        max-width: 10rem;
        max-height: 10rem;
    }
}




@media (max-width: 576px) {
    button,
    input,
    select,
    textarea,
    .imgButton {
        padding: 0.15rem 0.25rem;

        background-color: rgba(0, 0, 0, 0);

        border: 0.125rem solid rgb(0, 0, 0);
        border-radius: 0.25rem;
    }
    .container {
        padding: 0 3%;
    }

    .header__navigation {
        transition: 200ms;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .header__burger-button {
        display: block;

        opacity: 1;
        
        transition: 200ms;

        width: 100%;
        height: 100%;
    }

    .header__burger:hover .header__navigation {
        position: relative;

        width: 100%;
        height: 100%;

        opacity: 1;

        background-color: rgb(255, 255, 255);

        flex-direction: column;

        padding: 1rem;
    }

    .header__burger:hover .header__burger-button {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .header__navigation_item {
        margin: 0;
        margin-top: 1rem;

        border-bottom: 1px solid black;
    }

    .header__navigation_item:nth-child(1) {
        margin-top: 0;
    }

    .post__search {
        margin-bottom: 1rem;
    }

    .post__search form input {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        margin-bottom: 0.25rem;
    }

    .post__search form * {
        margin-left: 0.25rem;
    }

    .post__search form *:nth-child(2) {
        margin-left: 0;
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
    }

    .selected-post__title > p {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 55%;
                flex: 0 1 55%;
    }

    .comment__content {
        margin-left: 0.25rem;
    }

    .profile__avatar {
        max-width: 8rem;
        max-height: 8rem;
    }
}